/*------------------------------------*\
    $ABOUT
\*------------------------------------*/

.about-intro {
	background:$teal;

	max-width:none;
	margin: 58px 0 0;

	padding:$padpx*3 5%;

	@media screen and (min-width:$bp-med-2) {
		padding:0;
	}

	article {
		padding: $padpx*2 0;
		margin:0 auto;
		text-align:center;
		max-width:815px;

		font-size:.75em;

		@media screen and (min-width:$bp-med-2) {
			font-size:1em;
			padding: $padpx*8 0;
		}


		h3 {
			color:$creme;
			@include font-sizing(28,36);
		}

	}
}
.about-do {

	padding:0;
	margin:0;

	background: linear-gradient(to right, $mint 50%, $creme 50%);

	.wrap {

		@media screen and (min-width:$bp-med-2) {
			display: flex;
		    align-items: stretch;
			padding:0;
		}

		> div {
			padding:$padpx*3 5%;

			@media screen and (min-width:$bp-med-2) {
				padding:$padpx*5 0;
			}

			h4 {
				color:$gray;
				position:relative;
				@include font-sizing(16,24);

				em {
					font-style:normal;
					text-decoration:underline;
				}
			}
		}

		.doing-now {

			background: $mint;

			@include grid-column(5, 1, both);

			@media screen and (min-width:$bp-med-2) {
				h4:after {
					content: "-->";
				    position: absolute;
				    right: -61%;
				    top: -1px;
				    width: 60%;
				    text-align: right;
				    color:$red;
				}
				h4:before {
					content:"";
					position: absolute;
				    right: -54%;
				    top: 9px;
				    width: 51%;
				    border-top:2px solid $red;
				}
			}

			#sb_instagram {
			    margin-left: -18px;
			    margin-right: -18px;
			    width: auto!important;
			    padding-bottom:0!important;

				#sbi_images {
					padding:0!important;


					.sbi_item {
						padding:18px!important;

						a {
							-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.15);
							-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.15);
							box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.15);
						}
					}
				}
			}

			a.instalink {
				font-family: $font-secondary;
				font-weight: normal;
				letter-spacing: .05em;
				margin-bottom:4px;

				@include font-smoothing;

				@include font-sizing(16,20);
				display:block;
				text-align:right;
				text-transform:none;
				color:$red;
				margin-top:-$padpx;

				&:hover, &:focus {
					color:$teal;
				}
			}
		}

		.doing-next {

			background: $creme;
			@include grid-column(7, 1, both);

		}

	}

}

.designers-on-duty, .hired-hands {
	margin:0;

	padding:0;

	@media screen and (min-width:$bp-small-3) {
		padding: $padpx*6 36px $padpx*4;
	}

	@media screen and (min-width:$bp-full) {
		padding: $padpx*6 0 $padpx*4;
	}

	h3.alt {
		color:$red;
		border-bottom:2px solid $red;
		@include font-sizing(27,32);
		margin-bottom: $padpx*2;
	}

	.designers-on-duty-title {

		@media screen and (min-width: $bp-med-3) {
			width: $col-8;
			margin: 0 auto $padpx*2;
		}
	}

	h3 + p.emphasized {
	    margin-top: -20px;
	}

	.teammate {
	    width: 100%;
		margin: 0 auto 100px;
		display: flex;
		flex-direction: column;

		@media screen and (min-width:$bp-small-3) {
			flex-direction:row;
			align-items: flex-start;
			margin-top: 20px;
		}

		@media screen and (min-width:$bp-med-2) {
		    align-items: center;
		}

		> img {
			display:block;
			height:auto;
			width:100%;

			@media screen and (min-width:$bp-small-3) {
				width: $col-1*5;
			}

			@media screen and (min-width:$bp-med-3) {
				width: $col-1*4;
	    		margin-left: $col-1;
			}

		}

		.deets {

			padding:$padpx $padpx*2 0;
			width: 100%;

			@media screen and (min-width:$bp-small-3) {
				padding-left: $col-1;
				width: $col-1*7;
			}
			@media screen and (min-width:$bp-med-3) {
			    width: $col-1*6;
			}

			h1 {
				@extend h1.alt;
				@include font-sizing(36,40);
				margin-bottom:4px;
				margin-left:-1px;
			}
			h4 {
				@include font-sizing(16,20);
				margin:0;
			}
			.sitelink, .email {
				color:$gray;
				font-style:italic;
			}
			p {
			    margin-bottom: 4px;
			}
			.nav-social {
			    font-size: .675em;

			    a {
			    	color:$gray-med;

			    	&:hover, &:focus {
			    		color:$red;
			    	}
			    }
			}
		}
	}
}
.designers-on-duty {

	background:$creme;

}
.hired-hands {

	.teammate {

		@media screen and (max-width:$bp-small-3) {
			padding:0 36px;
			margin-top:$padpx*4;
		}

		> .imagewrap {

			width:100%;
			padding-top:100%;

			@media screen and (min-width:$bp-small-3) {
				width:33.333%;
				padding-top:33.333%;
				float:left;
			}
			height:0;
			overflow:hidden;

			position:relative;

			img {
				position:absolute;
				top:50%;
				left:0;
				@include transform(translateY(-50%));
				width:102%;
				height:auto;

			}

		}
		.deets {
			padding-top:12px;
			@media screen and (min-width:$bp-small-3) {
				padding:0 36px;
				margin-top:10%;
				width:66.666%;
			}
		}
	}

}