/*------------------------------------*\
    $Discount
\*------------------------------------*/

.splash-banner {
	background-color: $red;
	text-align: center;
	padding: 130px 0px 40px;

	img {
		width: 100%;
		max-width: 890px;
		margin: 0 auto;
	}
}

.discount-form {
	padding: 40px 0;

	input[type=text],
	input[type=email],
	textarea {
		width: 100%;
		max-width: 400px;
	}

	.gi:first-of-type {
		p {
			max-width: 600px;
		}
	}
}

.gform_confirmation_wrapper {
	margin-left: 0 !important;
}