/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
	clear: both;
	overflow: hidden;
	background: $teal;
	color: $creme;
	line-height: 1.2;
	text-align: center;


	@media all and (min-width: $bp-med-2) {
		text-align: left;
	}

	.lc {
		padding: $pad $pad 0;
	}

	h4 {
		font-size: $font-size-sm;
		margin-bottom: $padpx/2;
		color:$creme;
	}

	a {
		color: $creme;

        &:hover {
            color: $yellow;
        }
	}

	.left,
	.right {
		padding: 4em $padpx 2em;
		float:none;
	}
	.left {
		border-bottom: 2px dashed $creme;
		@include grid-column(5);

		@media all and (min-width: $bp-med-2) {
			float:left;
			border-bottom: 0;
		}
	}
	.right {
		@include grid-column(5);
		@media all and (min-width: $bp-med-2) {
			float:right;

			input {
				display:inline-block;
				float:left;
			}

			input.email {
				width:$col-1*7;
			}
			input.button {
				width:$col-1*5;
			}
		}
		@media all and (min-width: $bp-large) {

			input.email {
				width:75%;
			}
			input.button {
				width:25%;
			}
		}
	}

	.button {
		background:$mint;
		color:$teal;

		&:hover, &:active {
			background:$yellow;
			color:$teal;
		}
	}

	.nav-social {
		padding: $padpx/2 0;

		svg {
			width: 32px;
			height: 32px;
			fill: $creme;
			transition: fill 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

			&:hover {
				fill: $yellow;
			}
		}
	}

	.bott {
	    border-top: 2px solid $creme;

	    .copyright {
		    padding: $padpx $padpx 0;

			@media all and (min-width: $bp-med-2) {
			    text-align: left;
			    float:left;
		    }
	    }
	    .email {
		    padding: $padpx $padpx 0;

			@media all and (min-width: $bp-med-2) {
			    text-align: right;
			    float:right;
		    }
	    }
	}
}