.header {
	background: $red;
	border-bottom:2px solid $creme;
	padding: 8px 18px;
	height: 58px;
	overflow: visible;
	position: fixed;
	width: 100%;
	top: 0;
	z-index:10;

	@include transitions(border $duration/2 $ease-cb);


	.home & {
		background:transparent;
		border:none;

		&.below {
			background: $red;
			border-bottom:2px solid $creme;
		}
	}
	.home &.above {
		position:absolute;

	}
}

.admin-bar .header {
	top:32px;
}

.logolink {
	width: 76px;
	margin: 0 auto;
	display: block;

	
	.home & {
		opacity:0;
		transform:translateY(-50%);

		@include transitions(opacity $duration/4 $ease-cb, transform $duration $ease-cb);

	}
	.home .below & {
		opacity:1;
		transform:translateY(0);
		
		@include transitions(opacity $duration $ease-cb $duration/8, transform $duration/2 $ease-cb);
	}
}

.nav-toggle {
	position: absolute;
	display: block;
	padding: 9px 0 9px 9px;
	font-size: 1.3rem;
	line-height: 1;
	border-left: 1px solid $blue-med;
	right: $padpx/2;
	top: 0;

	@media all and (min-width: $bp-small) {
		right: $padpx;
	}

	@media all and (min-width: $bp-med-2) {
		display: none;
	}
}

.search-form {
	overflow: hidden;
	max-height: 0;

	@media all and (min-width: $bp-med-2) {
		float: right;
		max-height: none;
		margin: 0.65em 0.5em 0 0;
	}
}