.header {
	background: $red;
	border-bottom:2px solid $creme;
	padding:0;
	overflow: visible;
	position: fixed;
	width: 100%;
	top: 0;
	z-index:10;

	@include transitions(border $duration/2 $ease-cb);

	@media all and (min-width: $bp-med-2) {
		padding: 8px 18px 0;
	}

	.home & {
		background:transparent;
		border:none;

		&.below {
			background: $red;
			border-bottom:2px solid $creme;
		}
	}
	.home &.above {
		position:absolute;

	}
}

.admin-bar .header {
	top:32px;
}

.logolink {
	width: 76px;
	position: absolute;
    bottom: -45px;
    left: 50%;
    @include transform(translateX(-50%));
	display: block;

	
	.home & {
		opacity:0;
		@include transform(translate(-50%, -50%));

		@include transitions(opacity $duration/4 $ease-cb, transform $duration $ease-cb);

	}
	.home .below & {
		opacity:1;
		@include transform(translate(-50%, 0));
		
		@include transitions(opacity $duration $ease-cb $duration/8, transform $duration/2 $ease-cb);
	}
}