/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

/* Layout Container */
.lc {
	width: 100%;	
	margin: 0 auto;
}

.page #content {
	max-width:$max-width;
	margin:10em auto 3em;
}
.single #content {
	margin-top:3em;
}
/*------------------------------------*\
    $TEMPLATES
\*------------------------------------*/

/* Two Column Layout */
.l-two-col {
	@extend .cf;

	.l-main {
		@media all and (min-width: $bp-large) {
			float: left;
			width: 70%;
			padding-right: $pad;
		}
	}
	
	.l-sidebar {
		@media all and (max-width: $bp-large) {
			clear: both;
		}

		@media all and (min-width: $bp-large) {
			float: left;
			width: 30%;
			padding: 0 0 0 $pad;
		}
	}
}


/*------------------------------------*\
    $GRIDS
\*------------------------------------*/

/* Grid Container */


.wrap .g {
	margin-left:-$padpx;
	margin-right:-$padpx;
}
.single .wrap.g {
	@media all and (min-width: $bp-med-2) {
		padding:100px 42px 68px;
	}
}

.wrap .g {
	padding: 0 $padpx*2;

	@media all and (min-width: $bp-med-2) {
		padding:0;
	}
}

.section {
	position: relative;
	
	@media all and (min-width: $bp-small) {
		margin: $padpx*4 0;
	}

	> a.more {
		@include font-2-style();
		font-size: $font-size-sm;
		position: absolute;
		bottom: $padpx;
		right: $padpx;
	}
}
/* Grid Item */
.gi {
	margin: 0 0 $padpx*2;
	position: relative;
	box-sizing:border-box;
	width: 100%;
    float: left;
	
	img {
		display: block;
	}

	&:first-child {
		margin-top: $padpx*2;

		@media all and (min-width: $bp-med-2) {
			margin-top:0;
		}
	}

}

.single .wrap .gi {
	@include grid-padding();
}

/* Grid 1up */
.g-1up {

	.gi {
		width: 100%;
	}
}
/* Grid 2up */
.g-2up {

	@media all and (min-width: $bp-med-2) {
		> .gi, .wrap > .gi {
			float: left;
			width: 50%;
			
			&:nth-of-type(odd) {
				clear: left;
			}
		}
	}
	@media all and (min-width: $bp-full) {
		> .gi, .wrap > .gi {
			// width: 460px;
		}
	}
}

/* Grid Half (Always displayed side by side) */
.g-half {
	margin: 0 0 24px;
	> .gi {
		float: left;
		width: 50%;
		
		&:nth-of-type(odd) {
			clear: left;
		}
	}
}

/* Grid 3up */
.g-3up {
	> div, .wrap > div {
		@include grid-column(4);
		float:left;
	}

}

/* Grid 4up */
.g-4up {

	@media all and (min-width: $bp-med) {
		>.gi, .wrap > .gi {
			float: left;
			width: 50%;
			
			&:nth-of-type(2n+1) {
				clear: both;
			}
		}
	}
	
	@media all and (min-width: $bp-large) {
		>.gi, .wrap > .gi {
			width: 25%;
			
			&:nth-of-type(2n+1) {
				clear: none;
			}
			
			&:nth-of-type(4n+1) {
				clear: left;
			}
		}
	}
}