/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

.nav-menu {
	position: absolute;
	right: 0;
	top: 0;
	overflow: hidden;
	max-height: 0;
	
	a {
		display: block;
		padding: 24px 0 4px 2em;
		@include font-2-style();
		font-size:0.75em;
		color: $creme-dk;

		&:hover, &:focus {
			color: $white;
		}	
	}

	&.active {
		max-height: 40em;
	}

	@media all and (min-width: $bp-med-2) {
		max-height: none;
		float: right;
		clear: none;
		width:45%;
		text-align:right;


		li {
			display:inline-block;
		}

		a {
			border: 0;
		}
		
	}
}

//Pagination
.pagination {
	overflow: hidden;

	li {
		float: left;
		border-right: 1px solid $gray-light-2;

		&:last-child {
			border: 0;
		}
	}

	a {
		padding: $padpx;
	}
}
.nav-social a {
	display: inline-block;

	&:hover, &:focus {
		color:$yellow;
	}
}
.nav-social li {
	display: inline;
    font-size: 2em;
	margin-right: .75em;
}

/**
 * All Genericons.
 */
[class*="genericon"] {
    width:1em;
    height:1em;
    font-size:1em;
}