.section {
	margin: $padpx*5 auto;
}
.section.case-studies {
	margin: 0 auto;
	@media all and (min-width: $bp-full) {
		max-width: $bp-xl;
	}

}
.section.fullgrid {
	max-width:none;
	margin-bottom:0;

	> .gi {
		padding:0;
		margin:0;

		@media all and (min-width: $bp-med) {
			width: 100 / 2 * 1%;
			float:left;
			&:nth-child(2n + 2) {
				clear:both;
			}
		}
		@media all and (min-width: $bp-large) {
			width: 100 / 3 * 1%;
			&:nth-child(2n + 2) {
				clear:none;
			}
			&:nth-child(3n + 2) {
				clear:both;
			}
		}
		@media all and (min-width: $bp-xxl) {
			&:nth-child(2n + 2),
			&:nth-child(3n + 2) {
				clear:none;
			}
			&:nth-child(4n + 2) {
				clear:both;
			}
			width: 100 / 4 * 1%;
		}

	}
}

.section.cont-wrap {
	padding: 0;
	margin: 24px 0;

	@media all and (min-width: $bp-full) {
		margin: 24px 0;
	}
	background:none;

	> img,
	> div {
		margin: 0 0 24px ;
		width:100%;
		display: block;
		box-sizing:border-box;
	}
	> img {
		padding:0 12px;
		@media all and (min-width: $bp-full) {
		}
	}


	.imgdesc, .freeform {
		@media all and (min-width: $bp-full) {
			margin-left:12px;
			margin-right:12px;
		}
	}

	.freeform {

		.article-header.tcrd {
			background: $creme;
			h4 {
				border-bottom: 1px solid;
				padding-bottom: .48em;	
			}

			h5 {
				color:$grey;
			}
		}
		.pcont {
			background: $creme-light-2;
		}
	}

	>.g {
		margin: 0;
		max-width: 100%;
	}

	.text{
		background:$creme-light-2;
	}
}
@media all and (min-width: $bp-large) {
	.imgdesc img.gif {
		margin-right:50px;
	}

	img.gif + .desc {
	    width: auto;
	    float: none;

	    .text {
	    	padding:50px 50px 40px; 
	    }
	}
}

.section-title {
	margin-bottom: $space-half;
}

/* Home Main */
.section.logo-banner-wrap {

	max-width:none;
	text-align:center;
	margin: 0;
	background:url(../images/paper-texture.png) repeat center center $red;
	padding:0 2em;
	box-sizing:border-box;

	.logo-banner {
		padding-top: 59%;
		position: relative;
		margin:0 auto;
		top:47%;
		transform:translateY(-50%);
		max-width:1100px;

		&:after {
			content:"";
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background: url(../images/logobanner-bg.png) no-repeat center center;
			background-size: contain;
			opacity:0;
			@include transitions(opacity $duration $ease-cb $duration/2);
		}
	}

	.logo-block {
	    max-width: 600px;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    width: 28%;
	    z-index:1;
	    opacity:0;
		@include transitions(opacity $duration $ease-cb);
	}

	.logo-block, .logo-banner:after {

		.loaded & {
			opacity:1;
		}
	}

	>h1 {
		color: $creme;
	}
	p {
		font-size: 1.2em;

		em {
			display:block;
			position:relative;
		}
		em::before {
			content: "";
			display: block;
			top: -8px;
			height: 2px;
			background: $blue-med;
			width: 5em;
			margin: 0 auto -2px;
			position: relative;
		}
	}

}
.section.home-main {
	background:$mint;
	//border-top:1em solid $yellow;

	max-width:none;
	margin:0;
	padding:0;

	article {
		padding:6em 2em;
		margin:0 auto;
		text-align:center;

		@media screen and (min-width:$bp-med-2){
			padding:8em;
			max-width:$bp-med-2;
		}
	}

}
.section.home-sub {
	background:$teal;
	border-bottom:2em solid $mint;

	max-width:none;
	margin:0;
	padding:0;

	article {
		padding:4em 0;
		margin:0 auto;
		text-align:center;

		h3 {
			font-family:$font;
			font-weight:normal;
			font-style:italic;
			@include font-sizing(22, 28);
			color:$creme;
		}
		h4 {

			a {
				color:$creme;
				display:block;
				margin:4px 0 16px;
				@include font-sizing(14, 20);

				&:last-child {
					margin-bottom:4px;
				}

				&:hover, &:active {
					color:$yellow;
				}
			}

		}

		@media screen and (min-width:$bp-med-2) {

			h3, h4 {
				width:50%;
				float:left;	
			}

			h3 {
				text-align:right;
				padding-right:36px;
				padding-top: 1.125em;
			}

			h4 {
				border-left:2px solid $creme;
				text-align:left;
				padding-left:36px;
			}

		}
	}

}



section.phead {
	width:100%;
    background-color:$creme-dk;
    margin-bottom: $padpx*5;
    margin-top: 56px;

	@media all and (min-width: $bp-med-3) {
		display: flex;
	    align-items: stretch;
	}

	/* Post Title */
	.tcrd {
		background: $mint;
		position:relative;

		@media all and (max-width: $bp-large) {
			font-size:.75em;
		}

		h1 {

			@extend .alt;
			padding: $padpx*6 48px 0;
		
		}

		h5 {
		    color: $gray;
		    @include font-sizing(26,32);
			padding: 0 48px 1em;
		}

		h1, h5 {
			max-width: 626px;
			margin:0 auto;
		}

		@media all and (min-width: $bp-med-3) {
			width:$col-1*5;
			box-sizing:border-box;

			&:before {
				display:none!important;
			}

			h1, h5 {
				max-width:none;
				margin:0;
			}
			
			h1 {
				padding-bottom:0;
				margin-bottom:-.225em;
				width:100%;
				padding-right:10%;
				position:absolute;
				bottom:50%;
				text-align:right;
				right:0;
				z-index: 1;

				&:before {
					content:'';
					width:100%;
					height:2px;
					background:$red;
					display:block;
					position:absolute;
					bottom: .225em;
				    left: 0;
				    z-index: -1;
				}
			}

			h5 {
			    text-align: right;
			    position: absolute;
			    top: 50%;
			    width: 100%;
			    padding: 12px 10% 0;
			}
		}

		&:before {
			content:'';
			width:100%;
			height:2px;
			background:$red;
			display:block;
			position:absolute;
			bottom: 0;
		    left: 0;
		}
	}
	/* Post Content */
	.pcont {
		
	    .text {
	    	padding: 3em;
    		max-width: 39em;
    		margin:0 auto;
	    }

		@media all and (min-width: $bp-med-3) {
			width:$col-1*6;
			box-sizing:border-box;	    
			width: 50%;
		    margin-left: 8.3333%;
		    padding: 6em 0;

		    .text {
		    	padding: 0 3em 0 0;
    			max-width: 36em;
    			margin:0;
		    }
		}

	}
}

.single .wrap section, .single .wrap > img {
	margin-bottom:$padpx*4;
}

.section.makers {
	
	background:$red;
	padding:0;
	margin-bottom: $padpx*4*2.5;

	.article-header.tcrd {

		background:$red;

		h1, h5 {
			color:$creme-light;
		}

	}

	.text {

		border: 2px solid $red;
		background:$creme-light;
		color: $red;
		font-size: 1.15em;

	}

}
.section.makers {
	background:$blue-dark;
	margin-bottom:$padpx*1.5;
	.article-header.tcrd {

		background:$blue-dark;


	}

	.text {

		border: 2px solid $blue-dark;
		color: $blue-dark;

	}
}

/* Team */

.section.team {
	padding: $padpx 3%;

	.team-member {
		padding:0;
		margin: 0 0 $padpx;

		@media all and (min-width: $bp-med) {
			width: 50%;
			float: left;
		}

		img,
		.team-deets {
			display:block;

			@media all and (min-width: $bp-med) {
				width: 90%;
				margin: 0 auto;
			}

			@media all and (min-width: $bp-large) {
				width: 300px;
			}
		}
		.team-deets {
			background: $creme;
			padding: $padpx;
			font-size: $font-size-sm;

			.email {
				float: left;
				padding: 0;
				margin: 0;
			}

			.nav-social {
				float: right;
				height: 18px;

				li {
					margin-right: 0;
					margin-left: 7px;
				}
			}
		}
	}	

}
.team-about {
	margin: $padpx*3 0;
	background: transparent;

	-webkit-transition: background-color 600ms ease;
    -moz-transition: background-color 600ms ease;
    -o-transition: background-color 600ms ease;
    -ms-transition: background-color 600ms ease;
    transition: background-color 600ms ease;

	.article-header.tcrd {
		background: transparent;
		padding-top:$padpx;
		z-index:2;

		@media all and (min-width: $bp-med) {
			padding-top:$padpx*2;
		}
		@media all and (min-width: $bp-large) {
			padding-top: 0;
		}

		div {
			width: 200px;
			height: 200px;
			overflow: hidden;
			padding: 0;
			border-radius: 50%;
			margin:0 auto;

			img {
				max-width: 200px;
				position: relative;
				cursor:pointer;
			}
		}
	}
	h4 {
		font-size: 1em;
		cursor:pointer;
		position:relative;

		span.genericon {
			position: absolute;
			right: 0;
			font-size: 1.5em;
			top: -3px;
		}
	}
	h5.subheading {
		color: $grey;
		font-size: 1em;
		margin-top: 0;
		font-style: normal;
		margin-bottom: 1.18em;
		padding-bottom: .2em;
		line-height:1.6;
		position:relative;

		&::before {
			content:"";
			position:absolute;
			right:0;
			bottom:0;
			height:2px;
			background: $blue-med;
			width:100%;

			@media all and (min-width: $bp-large) {
				width:145%;
			}

			webkit-transition: width 600ms, background-color 600ms;
			-moz-transition: width 600ms, background-color 600ms;
			-o-transition: width 600ms, background-color 600ms;
			transition: width 600ms, background-color 600ms;
		}
	}
	.text {
		background:transparent;
		padding-bottom:10%;

		.slide {
			max-height:0;
			overflow:hidden;
			webkit-transition: max-height 600ms ease;
			-moz-transition: max-height 600ms ease;
			-o-transition: max-height 600ms ease;
			transition: max-height 600ms ease;
		}
	}
	.email {
				display:block;
				text-align:right;
				@media all and (min-width: $bp-med) {
					float: left;
					padding: 0;
					margin: 0;
				}
			}

	.nav-social {
		float: right;
		height: 18px;

		li {
			margin-right: 0;
			margin-left: 7px;
		}
	}
	.proj-link {
		display:block;
		text-align:right;
	}
}
.team-about.open {
	
	background:$creme-dark;

	h4 span.genericon-expand::before {
		content: '\f432';
	}
	
	.text .slide {
		max-height:500px;
	}
	h5.subheading::before {
		width:100%;
		background:$red;
	}

}


