/*------------------------------------*\
    $FORMS
\*------------------------------------*/

form > div {
	margin-bottom: $space;
}

form ol, form ul {
	list-style: none;
	margin-left: 0;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

label {
	display: block;
	padding-bottom: $padpx/4;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 1em;
    margin: 0;
}

input, textarea {
	border: 0;
	padding: $padpx/2;
	background: $creme-light-2;
}

input[type=text], input[type=search], input[type=url], input[type=number], textarea {
	-webkit-appearance: none;
}

button, input[type="submit"] {
	padding: 0.65rem;
	border: 0;
	cursor: pointer;
	-webkit-appearance: none;
	border-radius:0;
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
    margin-right: 0.3em;
}

input[type="search"] {
    -webkit-appearance: none;
    border-radius: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

//Form Field Container
.field-container {
	margin-bottom: $space;
}

.inline-form {
	
	fieldset, .inline-container {
		position: relative;
	}

	input {
		height: 40px; 
		vertical-align: bottom;	
	}
	
	input[type=submit], button, .btn {
		padding: 8px 1em 4px;
		width: auto;
		height: 40px;
		vertical-align: bottom;
		margin: 0;

		&:hover, &:focus {
		}
	}
}	

// PK to clean this up
.inline-search-results-form {
	width: 100%;
	@media all and (min-width: $bp-med) {
		width: 82%;

	} 
	
	fieldset, .inline-container {
		position: relative;
	}
	
	input[type=submit], button {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		width: auto;
	}
}

/* Validation */
.has-error {
	border-color: $error;
}
.is-valid {
	border-color: $valid;
}
.gform_confirmation_wrapper  {
	background: $rose;
    padding: 36px;
    margin-left: -36px;
	
	> div {
	    font-style: italic;
	    color: #58595b;

	    h3 {
	        margin-bottom: 0;
		    color: $teal;
		    font-style: normal;
	    }
	}
}

/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/

/* Search Form */
.search-field {
	padding-right: 3em;
}
.inline-form .search-submit {
	background: none;
	padding: 0.78em 1em;
	border: 0;
	border-left: 1px solid $gray;
	color: $gray;
}
.gform_wrapper form {
	input, textarea {
		&::-webkit-input-placeholder {
		   color: $grey;
		   font-style:italic;
		}

		&:-moz-placeholder { /* Firefox 18- */
		   color: $grey;
		   font-style:italic;
		}

		&::-moz-placeholder {  /* Firefox 19+ */
		   color: $grey;
		   font-style:italic;
		}

		&:-ms-input-placeholder {  
		   color: $grey;
		   font-style:italic;
		}
	}
	.gform_footer {
		input[type=submit] {

			margin-top:0;
			line-height:22px;
			padding:10px 1em 6px;
			
			&:hover, &:active {
				background:$yellow;
			}
		}
	}
}

#gform_1 {
	

	.validation_message, .validation_error {
	    color: red;
	    font-style: italic;
	}

	textarea {
		background:$creme;
		border:3px solid $creme-dk;
		padding:$padpx/2 $padpx;
		height: 120px;
		width: 100%;
	}
	.ginput_counter {
		font-size:.875em;
		color:$gray;
		font-style:italic;
		margin-top:0;
	}


	.gfield_checkbox input,
	 {
		position: absolute;
		visibility: hidden;

		+ label {
			display: block;
			position: relative;
			cursor: pointer;
			outline: none;
			margin:0 0 4px;
			padding: 0 0 0 36px;

			user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
	}
	#field_1_1 {
		margin-top: 30px;
		> label {
			display:none;
		}
	}

	#field_1_2 {
		> label, 
		> div {
			padding-left:2em;
		}
	}
	#field_1_3 {
		margin-top: $padpx*3;
		position:relative;

		> label {
			@extend h3;
			@include font-sizing(27, 36);
			color:$red;
			.gfield_required {
				font-size:.5em;
				vertical-align: super;
			}
		}

		.ginput_container_email {
			@media screen and (min-width:$bp-med-2) {
				float:left;
			}

			width:100%;
			@include grid-column(7);

			input {
				background:$creme-dk;
				width:100%;
			}
		}

		.validation_message {
			position: absolute;
			top: 102px;
		}
	}
	.gform_footer {
		@media screen and (min-width:$bp-med-2) {
			float:left;
		}
		width:100%;
		@include grid-column(5);

		input[type=submit] {
			width:100%;
		}

	}


	.gfield_checkbox input + label,
	#field_1_2 label {

		position:relative;

		&:before,
		&:after{
			display: block;
			position: absolute;
			content: "";
		}

		&:before {
			width: 24px;
			height: 24px;
			background-color: $creme;
			border:3px solid $red;
			left:0;
			top:0;
			box-sizing:border-box;
			@include transitions(background $duration/2 $ease-cb);
		}

		&:after {
			width: 6px;
		    height: 10px;
		    border: solid $creme;
		    border-width: 0 2px 2px 0;
		    top: 4px;
		    left: 9px;
		    @include transform(rotate(45deg));
		    display:none;
		}
	}

	.gfield_checkbox input:checked + label, #field_1_2 label.checked {
		&:after {
			display:block;
		}
		&:before {
			background:$teal;
			border-color:$teal
		}
	}

}
#gform_2 {
	margin-top:$padpx;

	label {
		display:none;
	}
	input[type=text], input[type=email], textarea {
		width:100%;
		background:$creme;
	}
	textarea {
		border:3px solid $creme-dk;
		height: 120px;
	}
}

