#content ol, #content ul {
	list-style: none;

	li {
		@include font-sizing(18, 24);
		margin-bottom:4px;
		padding-left: 1em;
		text-indent: -.9em;

		&:before {
			color:$red;
			content: "\002022";
    		padding-right: .75em;
		}

		#content & a {
			background-image: none;
		}
	}
}

/* Definition Lists */
dl {
	overflow: hidden;
	margin: 0 0 $space;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 0;
}