/* Text-Related Elements */ 
p, li {
    @include font-sizing(18, 28);
    letter-spacing: .02em;
    margin-top:0;
    margin-bottom:12px;
    @include font-smoothing;
}

li li {
    font-size:1em;
}

p.emphasized {
    font-family: $font-tertiary;
    @include font-sizing(20, 32);
    font-weight: normal;
    letter-spacing: .03em;
}


/* Blockquote */
blockquote {
    @include font-sizing(30, 40);
    font-style: italic;
    margin-top:4px;
    margin-bottom:20px;

    @include font-smoothing;
    color: $teal;
}

p + h4,
ul + h4,
ol + h4 {
    margin-top:24px;
}


/* Horizontal Rule */ 
hr {
	border: 0;
    height: 1px;
    background: $red;
    margin: $space-double 0;
}

abbr {
    border-bottom: 1px dotted $gray;
    cursor: help;
}

::selection {
    color:$gray-dk;
    background:$yellow;
}

.single {

    h4 {
        font-size: 1em;
        margin-top: 32px;
    }

    h4 + h5 {
        margin-top: 12px;
        margin-bottom: 12px;
    }



}